@page "/menu"


<h2 class="menu-title">Our Pizzas</h2>




<div class="pizza-gallery">

    <div class="pizza-container" style="background-image: url('images/buffalo.jpeg');">

        <div class="dark-overlay"></div>
        <div class="price-tag">$12.49</div>
        <div class="pizza-text">
            <div class="pizza-name">Mashroom Pizza</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>
   

    <div class="pizza-container" style="background-image: url('images/fajita.jpg');">
       
        <div class="dark-overlay"></div>
        <div class="price-tag">$14.49</div>
        <div class="pizza-text">
            <div class="pizza-name">Papperoni Pizza</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>

    <div class="pizza-container" style="background-image: url('images/chicken.jpeg');">
        
        <div class="price-tag">$10.21</div>
        <div class="pizza-text">
            <div class="pizza-name">Chicken Pizza</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>

    <div class="pizza-container" style="background-image: url('images/margherita.jpeg');">
       
        <div class="price-tag">$16.00</div>
        <div class="pizza-text">
            <div class="pizza-name">Margherita Pizza</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>



    <!-- Add more pizzas below as needed -->

    <div class="pizza-container" style="background-image: url('images/buffalo.jpeg');">

        <div class="dark-overlay"></div>
        <div class="price-tag">$17.49</div>
        <div class="pizza-text">
            <div class="pizza-name">BBQ Chicken</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>


    <div class="pizza-container" style="background-image: url('images/fajita.jpg');">

        <div class="dark-overlay"></div>
        <div class="price-tag">$15.49</div>
        <div class="pizza-text">
            <div class="pizza-name">Fajita Pizza</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>

    <div class="pizza-container" style="background-image: url('images/chicken.jpeg');">

        <div class="price-tag">$11.49</div>
        <div class="pizza-text">
            <div class="pizza-name">BBQ Beaf</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>

    <div class="pizza-container" style="background-image: url('images/margherita.jpeg');">

        <div class="price-tag">$20.49</div>
        <div class="pizza-text">
            <div class="pizza-name">BBQ Tikka</div>
            <div class="pizza-desc">Smoky grilled goodness</div>
        </div>
    </div>

    
</div>






<!-- Modal -->









